[defaults]
inventory = ./inventory.yml
roles_path = ./roles
stdout_callback = yaml
forks = 10
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible-facts
fact_caching_timeout = 3600

[ssh_connection]
pipelining = True
